<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='#';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>1/10</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='1.html';">
                        <p>after</p>
                    </div>
                </div>
                
                <div class="mainText">
                    <h1>유튜브 라이브</h1> 
                    <img src="../../image/Youtube_thumbnail.png",class="imageMargin" alt="image">
                    <p><strong>유튜브 라이브</strong>는 실시간으로 영상방송을 진행하여 소통 할 수 있다. 
                           인원제한은 없기 때문에 <strong>다수의 시청자</strong>를 위한 외부 이벤트에 적합하다.
                         또한 유튜브 라이브가 끝난 후 녹화를 하여 동영상을 올릴 수 있어 참여하지 못한 사람들이 추후에 접근하기 쉬운 플랫폼이다.
                         설명회를 개최하는 사람과 참여하는 사람 모두 무료로 참여할 수 있다  </p>
                       
                       <h2>이런 분들께 추천드려요</h2>
                       
                       <ul>
                           <li>다수에게 설명회를 하고 싶지만 모이기 힘든 기업들</li>
                           <li>필요할 때 다시 볼수 있게 녹화하여 올리고 싶은 기업들</li>
                           <li>오프라인이 힘든 기업들</li>
                           <li>실시간으로 소통하며 Q&A를 진행하고 싶은 기업들</li>
                           
                       </ul>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='1.html';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
