<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>스트리밍 전 해야 할 일</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='0.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>1/9</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='2.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>

                <div class="mainText">
                    <p>
                    <h2>스트리밍 전 준비해야할 것</h2>
                    <hr>
                    <ul>
                        <li>
                            스트리밍 하기 전 스트리밍 눌러놓기
                        </li>
                        <div class="imageCenter">
                            <img src="../../image/Youtube_2.png" class="imageMargin" alt="image" />
                        </div>
                        <br />
                        처음으로 스트리밍을 한다면 24시간 뒤에 활성화 됩니다.
                        <div class="imageCenter">
                            <img src="../../image/Youtube_3.jpg" class="imageMargin" alt="image" />
                        </div>

                        <li>이벤트 홍보에 도움이 될 채널 예고편 또는 티저 동영상 만들기</li>
                        <li>실시간 스트리밍을 시작하기 최소 48시간 전에 스트리밍 링크를 공유하기</li>
                        <li>쉽게 공유할 수 있도록 채널에 소셜 미디어 계정을 연결하기</li>
                        <li>웹사이트에 URL을 삽입하고 콘텐츠를 공유해 줄 가능성이 있는 블로그에 링크를 보내기</li>
                        <li>실시간 섹션을 만들어 예정된 이벤트 및 실시간 이벤트를 채널에 표시하기</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge1_9">
                        11%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>