<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='3.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>5/10</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='5.html';">
                        <p>after</p>
                    </div>
                </div>
                
                <div class="mainText">
                    <p> 
                       <h3>스트리밍 실행하고 종료하기</h3>
                       <br>
                       <h4>스트리밍 실행하기</h4>
                       <img src="../../image/Youtube_9.png",class="imageMargin" alt="image"><br>
                       그러면 위와 같이 자신의 스트리밍이 웹캠을 통해 실행되고 있는 것을 볼 수 있습니다.<br>
                       스트리밍을 하면서 오른쪽에 뜨는 채팅창으로 참가자들의 질문을 받을 수 있습니다.<br>
                       <h4>스트리밍 종료하기</h4>
                       화면 아래 <strong>스트림종료</strong>를 클릭하면 아래와 같은 화면이 뜨게됩니다.<br>
                       <img src="../../image/Youtube_11.png",class="imageMargin" alt="image">
                       <br>
                       이후 <strong>스튜디오에서 수정</strong>을 누르면 영상을 수정하고 확인할 수 있습니다.
                     

                       




                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='5.html';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
