<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>유튜브 라이브-소프트웨어 스트리밍</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='5.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>7/10</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='7.html';">
                        <p>after</p>
                    </div>
                </div>
                
                <div class="mainText">
                    <p> 
                       
                       <h1>소프트웨어 스트리밍-OBS Studio이용하기</h1><br>
                       <h2>OBS Studio 설치하기</h2><br>
                       <br>
                       인터넷에 <strong>OBS Studio</strong>를 검색하여 자신의 운영체제에 맞게 다운로드합니다.<br>
                    
                       <img src="../../image/Youtube_21.png" class="imageMargin" alt="image">
                     <br>
                       <h3>OBS Studio 초기 설정하기</h3><br>
                       OBS Studio를 열어 기본 설정해줍니다.<br>
                       구성마법사창이 뜨면 기본해상도와 초당 프레임수를 설정해줍니다.<br>
                       (기본 해상도는 1920X1080과 초당 프레임수는 60또는 30을 추천합니다.)<br>
                       <img src="../../image/Youtube_24.png" class="imageMargin" alt="image">
                       <br>
                       <h2>스트림 키 설정하기</h2>
                       다음을 누르면 방송정보를 설정할 수 있습니다.<br>

                       이때 스트림 키를 설정해야하는데, 이 스트림키는 유튜브에서 찾을 수 있습니다.<br>
                       유튜브 스트림탭을 누르면 아래에 <strong>스트림 설정</strong>이 있습니다. 
                       여기서 <strong>복사</strong>버튼을 누르면 스트림키가 복사됩니다.<br>
                       복사한 후 스트림키에 붙여넣기 하면 완료됩니다.<br>
                       <img src="../../image/Youtube_25.png" class="imageMargin" alt="image"><br><br>
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='7.html';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
