<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>유튜브 라이브-소프트웨어 스트리밍</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='7.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>8/9</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='9.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>

                <div class="mainText">
                    <p>

                    <h2>스트리밍 장면 설정하기</h2><br>
                    <br>
                    아래 소스목록에서 +버튼을 누르면 원하는 미디어를 추가할 수 있습니다. 이때 자신이 원하는 미디어의 크기와 위치는 자신이 설정해줄 수 있습니다.
                    미디어를 선택하고 위치를 옮기거나 크기를 조정할 수 있습니다.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_28.png" class="imageMargin" alt="image" />
                    </div>
                    <h3>이미지, 동영상</h3><br>
                    이미지는 <strong>이미지</strong>버튼을 눌러서, 동영상은 미디어소스를 눌러서 추가해줍니다. 자신이 원하는 이미지와 동영상을 파일 목록에서 찾아주어 넣어주면
                    됩니다.<br>
                    <h3>PPT</h3>
                    PPT를 넣기 전 자신이 보이길 원하는 PPT를 컴퓨터에 띄어줍니다.<br>
                    PPT는 윈도우 캡쳐를 눌러서 넣어줍니다. 윈도우 탭에서 자신이 원하는 PPT를 선택해줍니다.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_30.png" class="imageMargin" alt="image" />
                    </div><br>
                    PPT로 돌아가 슬라이드쇼 탭에서 슬라이드 쇼설정을 선택한 후 보기 형식 중 <strong>웹 형식으로 진행</strong>을 눌러줍니다. 버튼 F5를 눌러주거나 슬라이드쇼 실행을
                    눌러주면 PPT화면이 전체화면으로 뜨게됩니다.<div class="imageCenter">
                        <img src="../../image/Youtube_31.png" class="imageMargin" alt="image" />
                    </div><br>
                    <h3>브라우저</h3><br>
                    브라우저는 <strong>브라우저</strong>버튼을 눌러줍니다. 이때 자신이 원하는 검색창이나 유튜브 등을 선택하여줍니다.<br>
                    <h3>카메라</h3>
                    카메라는 <strong>비디오 캡쳐 장치</strong>버튼을 눌러줍니다. 이때 자신이 원하는 카메라를 설정해주면 됩니다.<br>
                    이와같이 미디어를 추가하면 아래와 같은 화면을 만들 수 있습니다. 소스목록에서 맨 위에 있는 미디어가 제일 앞에 보이게 됩니다.
                    소스목록에서 각 미디어 옆에 있는 눈 모양을 클릭하면 보이게 할 수 있고 안보이게 설정할 수 있습니다.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_33.png" class="imageMargin" alt="image" />
                    </div><br>





                    </p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge8_9">
                        89%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>