<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='8.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>10/10</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='10.html';">
                        <p>after</p>
                    </div>
                </div>
                
                <div class="mainText">
                    <p> 
                       
                       <h3>스트리밍 시작 및 종료</h3><br>
                      
                       <h4>스트리밍 시작</h4><br>
                       이제 모든 미디어 준비를 마치면 방송시작을 할 수 있습니다. 
                       프로그램을 사용하면 youtube에서 스트리밍을 눌러줄 필요가 없습니다. 
                       오른쪽 아래에 있는 <strong>방송 시작</strong>버튼을 눌러주면 스트리밍을 시작 할 수 있습니다.
                       <br>
                       <img src="../../image/Youtube_33.png" class="imageMargin" alt="image"><br>
                       <h4>스트리밍 종료</h4>
                       방송 시작 때 눌렀던 오른쪽 아래에 있는 탭을 보면 방송 시작이 방송 중단으로 바뀐 것을 볼 수 있습니다.
                        <strong>방송 중단</strong>버튼을 눌러주면 스트리밍을 종료 할 수 있습니다.<br>
 
                       <img src="../../image/Youtube_35.png" class="imageMargin" alt="image"><br>
                       <h4>녹화 영상 업로드</h4>
                       방송 중단을 누르면 자동 녹화가 됩니다. 자신이 처음에 설정한 녹화영상 위치로 가면 저장되어 있는 것을 볼 수 있습니다. 
                       <img src="../../image/Youtube_36.png" class="imageMargin" alt="image"><br>
                       Youtube 페이지로 다시 돌아가 프로필 옆에 있는 만들기 버튼을 눌러 동영상 업로드를 눌러 녹화된 동영상을 업로드합니다.
                       
                       <img src="../../image/Youtube_37.png" class="imageMargin" alt="image"><br>
                       

                    
                       
                     
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='10.html';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
