<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">친목도모형</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">설명회</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>행사 기획하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./0.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>1/11</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./2.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        세부사항 기획
                    </h2>
                    <p>
                        행사를 기획하기 위해서는 어떤 행사를 진행해야 하는지 목적을 정해야 한다. 현재 참여형 이벤트를 기획하려 하고 있으므로, 어떤 사람들을 대상으로 이 이벤트를 진행하며, 어떤
                        내용을 가져야 대상이 되는 사람들에게 흥미를 유발할 수 있을지를 생각해야한다.
                    </p>
                    <p>
                        예를 들어보자면 초등학교의 도서관에서 참여형 행사를 기획한다고 할 때, 이벤트의 대상은 1학년부터 6학년까지의 아이들이 될 수 있다. 이러한 아이들의 흥미를 유발하기 위한
                        이벤트로는 책 한권을 선정하여 그 내용과 관련된 만들기 수업을 진행하는 이벤트가 있을 수 있다.
                    </p>
                    <hr>
                    <h4>연습하기</h4>
                    <p>
                        다음 빈칸에 기획하기 위한 행사의 목적과, 대상 그리고 세부 이벤트의 내용을 작성해보자.
                    </p>
                    <form>
                        <table class="tableStyle">
                            <tr>
                                <td>행사의 목적</td>
                                <td>행사의 대상</td>
                                <td>행사의 세부 내용</td>
                            </tr>
                            <tr>
                                <td><textarea class="ta" name="ta_purpose" wrap="virtual"></textarea></td>
                                <td><textarea class="ta" name="ta_target" wrap="virtual"></textarea></td>
                                <td><textarea class="ta" name="ta_detail" wrap="virtual"></textarea></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge1_11">
                        9%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>