<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="../../js/2.js"></script>
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>행사 기획하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./1.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>2/n</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./3.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        참여 인원 수 결정
                    </h2>
                    <p>
                        참여형 이벤트이기 때문에 참여인원의 충분한 참여를 위해서는 적당한 수의 참가 인원을 정하는 것이 좋다. 주 진행자의 역량과 보조 진행자의 명수를 고려하여 몇 명까지의 참가 인원이 적당할지 고려 후에 인원을 정하자. 
                    </p>
                    <p>
                        이후에 진행할 화상플랫폼까지 고려한다면 100명 미만으로 참가 인원을 정하는 것을 추천한다. 
                    </p>
                    <hr>
                    <h4>연습하기</h4>
                    <p>
                        다음 사항을 고려하여 참여 인원 수를 결정해보자.
                    </p>
                    <form method="post" name="calc">
                        <table class="tableStyle" >
                            <tr>
                                <td>주 진행자</td>
                                <td> : </td>
                                <td><input name='mainP' type='number'/>명</td>
                            </tr>
                            <tr>
                                <td>보조 진행자</td>
                                <td> : </td>
                                <td><input name='subP' type='number'/>명</td>
                            </tr>
                            <tr>
                                <td>진행자 당 참가 인원</td>
                                <td> : </td>
                                <td><input name='PpP' type='number'/>명</td>
                            </tr>
                            <tr>
                                <td><hr></td>
                                <td>.</td>
                                <td><input type="button" value="Calculate" onClick="calcNow()"/></td>
                            </tr>
                            <tr>
                                <td>총 참가인원</td>
                                <td> : </td>
                                <td><input name='totalP' type='number'/>명</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Submit</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>