<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">친목도모형</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">설명회</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>화상 플랫폼 사용하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./5.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>6/11</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./7.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        새 회의 생성하기
                    </h2>
                    <p>
                        설정을 다 마쳤으니 새 회의를 생성해보자.
                    </p>
                    <div class="imageCenter">
                        <img src="../../image/GoogleMeets_6_googleLogin.png" alt="Google Login" class="imageMargin" />
                    </div>
                    <p>
                        먼저 Google 계정으로 로그인을 해주자. <br />
                        이후 Google App(점 9개 버튼)를 클릭하여 Google meets 앱을 클릭한다.
                    </p>
                    <div class="imageCenter">
                        <img src="../../image/GoogleMeets_6_newMeets.png" alt="New Meets" class="imageMargin" />
                        <img src="../../image/GoogleMeets_6_newMeetsCreate.png" alt="New Meets Create"
                            class="imageMargin" />
                    </div>
                    <p>
                        새 회의를 클릭한다. 새 회의를 클릭하면 3가지의 선택지가 보인다. <br />
                        1) 나중에 진행할 회의 만들기<br />
                        2) 즉석 회의 시작<br />
                        3) Google Calendar에서 일정 예약<br />
                        이 중 일단 사용해보기 위해서 ‘즉석 회의 시작’을 클릭해보자.
                    </p>
                    <div class="imageCenter">
                        <img src="../../image/GoogleMeets_6_newMeetsCreated.png" alt="New Meets Create"
                            class="imageMargin" />
                    </div>
                    <p>
                        클릭한 후에는 회의 화면이 생성된다. <br />
                        좌측 상단에 생기는 팝업에서 공유하기 위한 링크가 생긴다. 이 링크를 이벤트 참가자들에게 공유하여 이벤트 당일 참석할 수 있도록 한다.
                    </p>
                    <div class="imageCenter">
                        <img src="../../image/GoogleMeets_6_newMeetsReservation.png" alt="New Meets Create"
                            class="imageMargin" />
                    </div>
                    <p>
                        그러면 다시 이 화면을 나가서 ‘나중에 진행할 회의 만들기’를 클릭해보자.<br />
                        바로 회의가 예약되고 링크가 생성된다. 생성된 회의에서 링크를 복사하여 저장 해놓자.
                    </p>
                    <hr>
                    <h4>
                        연습하기
                    </h4>
                    <p>
                        나중에 진행할 회의를 생성하고 생성된 회의의 링크를 입력해보자.
                    </p>
                    <form method="post">
                        <input type='text' class="inputText" /></td>
                    </form>
                    <br/>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge6_11">
                        55%
                    </div>
                </div>
            </div>
        </div>

</body>

</html>