<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>참가 인원 모집하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./6.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>7/n</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./8.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        인원 모집
                    </h2>
                    <p>
                        화상 회의까지 예약했다면 참가 인원을 모집해보자. 참가 인원을 모집하는 방법으로는 Google Form등의 설문지를 이용하는 방법이 있다. 참가 신청서를 받으면서 반드시 수집해야 하는 정보는 이름, 연락처, 이메일, 주소 등이 있으며, 이 밖에도 불참할 경우의 불이익이나, 받아야하는 서약서, 꼭 읽어야 하는 공지 등을 포함하면 좋다. Google Meets 화상회의 생성 시 현재 계정이 일반계정인 경우에는 참가자들을 내가 용을 해야 링크가 있더라도 참석할 수 있기 때문에 이메일을 받아 놓는 것이 중요하다.
                    </p>
                    <hr>
                    <h4>
                        연습하기
                    </h4>
                    <p>
                        참가 신청서를 생성하고 링크를 입력해 보자.
                    </p>
                    <form method="post">
                        <input type='text'/></td>
                    </form>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>