<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>참가 인원 확정하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./7.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>8/11</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./9.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        인원 추첨
                    </h2>
                    <p>
                        만약 신청인원이 참가 인원 제한선을 넘을 경우에는 추첨을 통해서 인원을 선정해보자. 추첨 또한 사이트를 이용해서 추첨할 수 있다. 이 때 정해진 인원만큼의 추첨과 불참자를
                        대비하여 예비번호도 같이 추첨하면 좋다.
                    </p>
                    <p>
                        추첨 사이트는 인터넷을 검색하면 찾아볼 수 있다. ex) http://www.zetswing.com/lucky
                    </p>
                    <hr>
                    <h4>
                        연습하기
                    </h4>
                    <p>
                        A부터 Z까지 중에서 5개를 추첨하고 그 결과를 입력해보자.
                    </p>
                    <form method="post">
                        <input type='text'  class="inputText" /></td>
                    </form>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge8_11">
                        73%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>