<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>공지하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./8.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>9/11</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./10.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        당첨자에게 공지하기
                    </h2>
                    <p>
                        추첨을 완료한 후에는 추첨 인원에게 합격 안내문자와 더불어 화상 이벤트의 링크를 보내줄 수 있다. 단체 문자를 보내는 경우에는 인터넷에 검색하여 이름만 바꾸고 문구를
                        동일하게 하여 단체 문자를 보내주는 서비스도 있으니 검색해보기 바란다.
                    </p>
                    <p>
                        또한 오프라인에서의 재료가 필요한 경우에는 미리 수집한 주소로 이벤트 전까지 배송을 보내거나 각 참가 인원이 쉽게 주위에서 구할 수 있는 재료를 미리 준비하도록 하는 것이
                        좋다.
                    </p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge9_11">
                        82%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>