<!DOCTYPE html>
<html>

<head>
    <title>Google Meets</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">친목도모형</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">설명회</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>마무리</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='./10.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>11/11</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='../end.html';">
                        <p>&#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        단체사진 찍기
                    </h2>
                    <p>
                        모든 행사의 목적은 사진을 남기기 위해서라 해도 과언이 아닐 정도로 행사에서 사진은 매우 중요하다. 온라인 이벤트에서도 이러한 사진들을 남길 수 있다. 이전 단계에서 학습한
                        레이아웃 변경 옵션을 활용하여 최대한 많은 이들이 한 화면에 담길 수 있도록 변경한 후에 화면을 캡쳐 하는 방식으로 사진을 남길 수 있다. 가장 중요한 마지막 단체 사진
                        또한 같은 방식으로 마무리를 할 수 있다. 단체사진을 조금 더 특별하게 하기 위해서 종이로 문구를 작성하거나 이벤트 참여의 결과물을 카메라에 같이 들어 단체 사진을 찍으면
                        아주 좋은 마무리가 될 수 있다.
                    </p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge100">
                        100%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>