<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">친목도모형</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">설명회</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>초대장 만들기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='6.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>7/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='8.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        초대장 구성 요소
                    </h2>
                    <p>
                        초대장/홍보포스터 등 작성 및 배포. 여기까지 했으면 이제 행사 초대장 작성을 위한 준비는 모두 끝났습니다. 초대장에 들어가야할 기본적인 내용은 다음과 같습니다.
                    </p>
                    <p>
                        - 행사 날짜와 예상 진행시간</br>
                        - 행사 내용과 목적 등 행사에 관한 설명</br>
                        - Zoom 초대 링크 혹은 회의실 id와 비밀번호</br>
                        - 입장 시 닉네임 규격</br>
                        - 비디오 on/off 여부</br>
                        (친목도모형 행사의 경우, 호스트는 물론이고 모든 참석자들도 비디오를 켜는것을 추천하는 바이다.</br>
                        이에, 참여율을 올리기 위해서 사전에 비디오 ON을 공지하여 참석자들로 하여금 미리 환경을 조성하도록 한다)</br>
                    </p>
                    <hr>
                    <h4>
                        초대링크 얻기
                    </h4>
                    <p>
                        회의 > 초대 복사 Click 후 붙여넣기</br>
                        이때 참석자는 1) 해당 링크 click, 2) Zoom 접속 후 참여 > ID 혹은 링크 입력 > 참가 click로 회의 참석 가능</br>
                    </p>
                    <div class="imageCenter">
                        <p>
                            <img src="https://user-images.githubusercontent.com/88205708/129248350-adcccf4d-9182-460a-953c-619c0dbe249d.png"
                                , width="400" ,height="200">
                            <img src="https://user-images.githubusercontent.com/88205708/129248357-7da5a77c-0154-4965-918d-c164d108898a.png"
                                , width="200" ,height="100">
                        </p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge7_18">
                        39%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>