<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="./home.html">Home</a>
                    </li>
                    <li>
                        <a href="./zoom/0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="./youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="./googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="purpose hCenter">
                <p>Purpose of this website is ~~~</p>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='./zoom/0.html';">
                    <p class="buttonText hCenter">zoom</p>
                </div>
                <div class="button" style="cursor:pointer;" onclick="location.href='./youtube/0.html';">
                    <p class="buttonText hCenter">youtube</p>
                </div>
                <div class="button" style="cursor:pointer;" onclick="location.href='./googlemeets/0.html';">
                    <p class="buttonText hCenter">google meets</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>