<!DOCTYPE html>
<html>

<head>
    <title>Youtube</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li>
                        <a href="../zoom/0.html">친목도모형</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">설명회</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>유튜브 라이브-소프트웨어 스트리밍</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='6.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>7/9</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='8.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>

                <div class="mainText">
                    <p>

                    <h2>OBS Studio 설정하기</h2><br>
                    <br>
                    화면 아래에 있는 설정을 눌러주세요.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_26.png" class="imageMargin" alt="image" />
                    </div><br>
                    <h3>자동저장 설정하기</h3><br>
                    일반탭에서 출력에 있는 <strong>방송을 시작할 때 확인 대화 상자 표시</strong>와 <strong>방송 시 자동으로 녹화</strong>를 체크해주세요.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_27.png" class="imageMargin" alt="image" />
                    </div><br>
                    출력탭에서 녹화에 있는 녹화경로를 설정해주세요. 영상이 자동저장 된 후 이곳에 저장됩니다.<br>
                    <div class="imageCenter">
                        <img src="../../image/Youtube_27.1.png" class="imageMargin" alt="image" />
                    </div><br>


                    </p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge7_9">
                        78%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>