div {
    word-break: break-all;
}

.background {
    width: 100vw;
    height: 100vh;
    background: rgba(170, 245, 245, 0.8);
    
    top: 0;
    left: 0;
    position: fixed;
}

.loginCard {
    padding: 0 !important;
    max-height: 700px;
    min-height: 500px;
    max-width: 1000px !important;
    height: 80vh !important;
    
    background: rgb(248, 248, 248);
    border-radius: 50px;

    overflow: hidden;
    position: relative;

    margin-top: 120px;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 50px !important;
}

.hCenter {
    display: flex;
    align-items: center;    
    justify-content: center;
}

.vCenter {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    width: 150px;
    height: 75px;

    background: rgba(170, 245, 245, 0.8);
    border-radius: 50px;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.buttonText {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;

    padding-top: 10px;
}

.persentage {
    width: 700px;
    height: 50px;
    background: rgba(170, 245, 245, 0.8);
    border-radius: 20px;
}

.bar {
    width: 650px;
    height: 10px;
    background: rgb(231, 231, 231);
}

.main {
    display: flex;
    flex-direction: column;

    height: 490px;
    width: 700px;
    
    background: rgba(170, 245, 245, 0.8);
    border-radius: 50px;

    justify-content: flex-start;

    position: static;
}
.subtitle {
    height: 50px !important;

    display: flex;
    justify-content: center;

    padding-top: 15px;
    
    position: static;
}

.moveBar {

    width: 700px;
    height: 50px;

    background: rgb(248, 248, 248);

    display: flex;
    justify-content: space-between;
    align-items:center;

    position: static;
}

.barItem {
    padding-top: 10px;
    
    width:60px;
    background: rgb(123,123,123);

    display:flex;
    justify-content:center;
}

.mainText {

    height: 375px;
    width: 700px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
    
}

.tableStyle {
    width: 650px;

    text-align: center;
}

.ta {
    width: 200px;
    height: 50px;

    resize:none;
}

.imageMargin {
    margin-bottom:20px;
    width: 630px;
}

.PosterContainer {
    margin:20px;
}

.centerPoster {
    text-align:center;
}