<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='../home.html';">
                        <p>&#60;</p>
                    </div>
                    <div class="barItem">
                        <p>0/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='1.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        친목도모형 이벤트
                    </h2>
                    <p>친목도모형 이벤트라 함은 참여한 사람들로 하여금 다양한 활동들을 통해 서로에 대해 알아가고 친분을 쌓을 수 있는 시간을 제공해주는 것을 목적으로 하는 행사를 일컫는다.
                        대학교 mt, 신입생 환영회, 홈커밍 데이, 등을 예로 들을 수 있다. 따라서, 친목도모형 이벤트의 경우 주최자 혼자가 아닌 참석자들이 모두 다 함께 참여하고 즐길 수 있는
                        행사를 만드는 것이 중요하다.</p>
                    <p>사실 오프라인 상에서도 처음 만나는 사람들끼리 친해지는 것이 쉬운 일은 아닌데, 온라인으로 환경이 바뀌면서 이는 더욱 더 난이도가 올라갔다.
                        따라서, 이 가이드라인에서는 ‘Zoom’이라는 온라인 플랫폼을 활용하여 어떻게 친목도모형 온라인 행사를 준비하고 진행할 수 있는지 가이드라인을 제공하도록 하겠다.</p>
                        <div class="imageCenter">
                        <img src="https://user-images.githubusercontent.com/88205708/129377613-9f2aa618-8459-4a6e-919d-db48e99ab726.png"
                            , width="200" , height="100">
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                </div>
            </div>
        </div>
    </div>

</body>

</html>