<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='9.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>10/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='11.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        카메라 설정하기
                    </h4>
                    <p>
                        1) 비디오 ON/OFF 가능: 하단 비디오 시작 click (세부 설정은 비디오 시작 > ^ click > 비디오 설정 click) </br>
                        2) 가상 배경 설정: 비디오 시작 > ^ click > 가상 배경 선택 click (주변 환경으로 비디오를 켜는거를 어려워 하는 참석자들로 하여금 가상 배경 선택을 추천!)
                    </p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129252907-ac516dc7-dcc0-4520-a874-50a924c21793.png", width="300",height="300">
                        &nbsp<img src = "https://user-images.githubusercontent.com/88205708/129252932-caf37497-16f1-4bd4-8a6d-920b7cc1fa04.png", width="300",height="300"></p>
                    <p>3) 참석자 비디오 시작 요청 보내기: 회의실 하단에 참여자 click > 비디오 시작 요청 하고 싶은 참여자에 마우스 가져다 놓기 > 비디오 시작 요청 click</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129253669-2d9b1ae4-0ba7-46ba-89da-796b6da14567.png", width="300",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
