<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='10.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>11/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='12.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        오디오 설정하기
                    </h4>
                    <p>
                        1) mic ON/OFF 기능: 하단에 마이크 아이콘 click(기타 설정: 마이크 아이콘 > ^ click)</br>
                        *행사 진행 중에 본인이 말을 하고 있지 않는 이상 mic를 꺼놓는것을 추천합니다. 하울링 등의 소음이 발생하여 진행에 방해가 될 수 있습니다.
                    </p>
                    <div style="text-align : center;">
                        <img src = "https://user-images.githubusercontent.com/88205708/129253879-2251ec54-5d0c-443e-a8ce-3b4351c1ab56.png", width="250",height="200">
                    </div>
                    <p> 2) 참가자 음소거/음소게 해제 요청: 회의실 하단에 참여자 click > 음소거/음소거 해제 요청 하고 싶은 참여자에 마우스 가져다 놓기 > 음소거/음소게 해제 요청 click</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129254398-08fb6765-4693-4e83-8b9a-f9081fa0cae3.png", width="450",height="400"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
