<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='11.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>12/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='13.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        화면 보기 설정하기
                    </h4>
                    <p>
                        Zoom에서는 '발표자/갤러리/몰입형/전체화면' 이렇게 총 4가지 방법으로 화면 보기 방법을 설정할 수 있습니다. 설정 방법은 회의실 오른쪽 상단에 ㅁ 보기 click >
                        발표자 / 갤러리/ 몰입형 / 전체화면으로 전환 중 click.</br>
                        그 중 제일 많이 사용하는 2가지만을 살펴보자면
                    </p>
                    <hr>
                    <p>
                        1) 발표자: 현재 말을 하고 있는 사람만을 집중해서 보기
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129317272-f91f9861-b422-4648-bdd8-5acfaf1b2948.png"
                                , width="400" ,height="400"></p>
                    </div>
                    <p>
                        2) 갤러리: 전체 참석자들을 한 눈에 보기</br>
                        (이때 갤러리 모드에서 한 눈에 보이는 참석자 최대 수는 설정>비디오>갤러리 보기에서 화면당 표시되는 최대 참가자: 에서 선택할 수 있습니다.)
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129317301-911162d6-b57d-4e69-a94e-393b6e0207b1.png"
                                , width="400" ,height="400"></p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge12_18">
                        67%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>