<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='12.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>13/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='14.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        화면 핀 기능
                    </h4>
                    <p>
                        추가적으로, 호스트는 누가 말하고 있는지 유무에 관계없이 특정 참석자의 화면을 고정시킬 수 있습니다. 
                        이 경우 나뿐만 아니라 모든 참석자들이 내가 고정한 참석자의 화면만을 보게됩니다. </br>
                        자기소개를 하고 있을 때 해당 기능을 사용하면 참석자들이 보다 더 효율적으로 서로에 대해 잘 파악 할 수 있을것입니다.</br>
                    </p>
                    <p>
                        1) 고정하고 싶은 참석자의 화면 오른쪽 위에 ... click > 핀 click </br>
                        2) 고정 해제 시, 해제하고 싶은 참석자의 화면 왼쪽 위에 핀 제거 click 
                    </p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129320421-48dd52bc-a11b-422d-8691-7bfa1b99d01a.png", width="300",height="300">
                        <img src = "https://user-images.githubusercontent.com/88205708/129320679-0a1f7908-9b0b-4ed9-856a-d27b845d133c.png", width="300",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
