<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>다양한 활동</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='14.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>15/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='16.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        채팅창 활요하기
                    </h4>
                    <p>
                        행사 중 참서자들과 말이 아닌 문자로 대화 혹은 공지가 필요하는 경우에 사용합니다!</br>
                        하단 메뉴 중 채팅 click 하면 오른쪽에 채팅을 할 수 있는 창이 생성됩니다. 
                    </p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129314987-d3f4eb8a-cc0b-4928-a424-dca91db83d14.png", width="300",height="300">&nbsp<img src = "https://user-images.githubusercontent.com/88205708/129315625-287580b1-0027-471f-a73f-ff2dcfa3d834.png", width="300",height="300"></p>
                    <p>
                        채팅의 종류는 1) 모두에게 보내기, 2) 특정 참석자에게 보내기(DM) 두가지가 있습니다.</br>
                        둘 중 원하는 기능을 선택하시고 문자를 입력한 후 Enter를 누르면 됩니다. 또한, 문구 말고 이모티콘 보내기 기능도 사용할 수 있습니다. 
                    </p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129315049-85e16e72-2a9a-47d3-a507-dedec4366323.png", width="200",height="200">
                            &nbsp<img src = "https://user-images.githubusercontent.com/88205708/129315139-4edbe0b9-c397-4805-92b6-de766394f0b1.png", width="200",height="200">
                            &nbsp<img src = "https://user-images.githubusercontent.com/88205708/129315083-3b578c26-f84d-4138-93c1-2e9c1ad061e1.png", width="150",height="150">
                    </p>   
                    <hr>
                    <h4>
                        채팅창 활용하기
                    </h4>   
                    <p>
                        1) 퀴즈 진행: 무언가 선착순으로 정답을 말해야 하는 경우, mic를 여러 사람이 사용하면 앞서 말했듯이 하울링 등의 소음이 발생할 수 있습니다.
                        따라서 그러한 경우, 정답을 채팅창으로 선착순으로 입력하라는 방식으로 퀴즈를 진행할 수 있습니다. 혹은 채팅창을 통해 발언권을 얻은 사람만 mic를 켜고 정답을 외치도록 할 수도 있습니다.</br>
                        2) Q&A 진행: 퀴즈 진행과 마찬가지로 발언권을 채팅창을 통해 선착순으로 받은 뒤 지목을 하여 질문을 받을 수 있고, 혹은 질문 자체를 채팅창으로 받을 수 있습니다.</br>
                        3) 간단한 공지 전달
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
