<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>다양한 활동</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='15.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>16/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='17.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        소회의실 나누기
                    </h4>
                    <p>소그룹으로 나누어 활동을 하고 싶을 때 소회의실 나누기 기능을 사용하면 됩니다.</p>
                    <p>
                        1) 소회의실 만들기: 화면 하단에서 소회의실 click > 만들 소회의실 개수 set, 자동할당/수동할당/선택 결정</br>
                        2) 하단에 옵션도 확인 후 필요한 기능에 check 후 만들기 click.
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129406435-b8db1e46-1162-4c52-85a8-04762df500a6.png"
                                , width="300" ,height="300">
                            &nbsp<img
                                src="https://user-images.githubusercontent.com/88205708/129406444-4906e59d-bf21-4f46-b345-740e886bd60d.png"
                                , width="300" ,height="300"></p>
                    </div>
                    <hr>
                    <p> 수동할당을 예를 들어보겠습니다.</p>
                    <p>
                        3) 각 회의실에 할당을 click하여 넣고 싶은 참석자 check.</br>
                        모든 참석자들의 배정이 끝났으면 모든 회의실 열기 click.</br>
                        그러면 참석자들의 화면에 소회의실 참가 팝업창이 뜨게됨. 해당 팝업창에서 참가를 click하면 호스트가 지정한 소회의실로 이동 완료.
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129407058-6df90a31-c4f7-4d0a-9e25-c846de89aa51.png"
                                , width="400" ,height="300"></p>
                    </div>
                    <p>
                        4) 이때 호스트는 모든 소회의실로 이동 가능하며, 참석자들을 임의로 다른 회의실로 이동시킬 수 있습니다.
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129407364-59a10be6-fcac-492c-8519-9323f31b1870.png"
                                , width="300" ,height="300">
                            &nbsp<img
                                src="https://user-images.githubusercontent.com/88205708/129407371-47ce7cf9-80bf-4aea-af2b-a6382473a11e.png"
                                , width="300" ,height="300"></p>
                    </div>
                    <p>
                        5) 또한 호스트는 모든 소회의실에 작성한 메세지를 띄울 수 있습니다.
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129407523-567f4594-12da-45c2-84fc-4caa37df6785.png"
                                , width="300" ,height="300"></p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge16_18">
                        89%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>