<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='15.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>7/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='17.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p>7.  초대장/홍보포스터 등 작성 및 배포. 여기까지 했으면 이제 행사 초대장 작성을 위한 준비는 모두 끝났습니다. 초대장에 들어가야할 기본적인 내용은 다음과 같습니다.</p>
                    <p>&nbsp - 행사 날짜와 예상 진행시간</p>
                    <p>&nbsp - 행사 내용과 목적 등 행사에 관한 설명</p>
                    <p>&nbsp - Zoom 초대 링크 혹은 회의실 id와 비밀번호</p>
                    <p>&nbsp - 비디오 on/off 여부</p>
                    <p>&nbsp - 입장 시 닉네임 규격</p>
                    <p>**친목도모형 행사의 경우, 호스트는 물론이고 모든 참석자들도 비디오를 켜는것을 추천하는 바이다. 
                        이에, 참여율을 올리기 위해서 사전에 비디오 ON을 공지하여 참석자들로 하여금 미리 환경을 조성하도록 한다.</p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>