<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>마무리</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='17.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>18/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='#';">
                        <p>.</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        끝마치며
                    </h2>
                    <hr>
                    <p>
                        지금까지 Zoom의 사용하여 어떻게 친목도모형 행사를 진행할 수 있는지 알아봤다. 
                        해당 가이드라인에서 소개된 다양한 기능들을 활용하면 온라인임에도 불구하고 알차고 재미있는 행사를 진행할 수 있을것이다.</br>
                        Wish You Good Luck
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
