<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>계정 생성 및 프로필 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='1.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>2/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='3.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        프로필 설정하기
                    </h2>
                    <p>
                        이제부터 행사를 주최하는 본인을 '호스트'로 칭하겠습니다. 그럼 이제 호스트의 프로필을 설정줍니다. 
                        이 과정을 통해 다른 참석자들에게 보여지는 본인의 이름을 설정할 수 있습니다. 
                    </p>
                    <p> 1) 내계정 > 프로필 > 편집 click</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129204557-bdf07e9e-e33b-4324-98de-033b7641b9e7.png", width="300", height="200">&nbsp<img src = "https://user-images.githubusercontent.com/88205708/129204569-700bf464-c22d-4643-9cb9-574d094de71e.png", width="300", height="200"></p>
                    <p> 2) 본인의 성과 이름 그리고 Display Name(보여지는 이름)을 입력합니다.</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129206112-2b5c26cb-4b63-463e-8ca6-62a8edb3e3a0.png", width="600",height="500"></p>
                    <p>
                        *프로필은 추후 언제든지 수정 가능합니다.</br>
                        *행사 진행시 주최자와 참석자가 명확하게 구분이 되고, 참석자들끼리는 통일성을 갖도록</br>
                        Display Name의 형식을 정하는 것이 좋습니다.</br>
                        ex) 주최자 -> @Staff_김둘리, 참석자 -> @멘티_박길동, @멘티_오호잇
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>