<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='25.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>9/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='27.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p>이제 Zoom 활용하여 할 수 있는 친목도모형 온라인 행사의 다양한 활동들의 진행 방법을 소개해 드리겠습니다.</p>
                    <p>9. 화면 공유하기</p>
                    <p>&nbsp PPT자료, 유튜브 등 참석자들과 함께 무언가를 봐야하는 경우에 사용!</p>
                    <p>&nbsp 하단 화면 공유 click > 공유할 화면 선택 후 공유 click, 
                        (호스트 의외의 사람에게 화면 공유 기능 ON 하기: 회의실 하단 보안 click > 참가자에게 다음을 허용 중 화면 공유 click)</p>        
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129314060-3c18e82b-46e7-489a-9899-74aa72e5f6c3.png", width="300",height="300">&nbsp<img src = "https://user-images.githubusercontent.com/88205708/129313908-895c1497-d0a1-47fa-a172-5dc857dff0e1.png", width="300",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>