<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='27.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>9/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='29.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p>3) 참석자들로 하여금 주석 기능을 사용하여 인삿말 혹은 하고 싶은 말 등을 화면에 남기도록 한다.
                        (이를 위해서는 사전에 혹은 채팅으로 주석 기능에 대한 설명을 해야함.)</p>
                    <p>**주석 기능 사용 방법: 공유되고 있는 화면에서 마우스를 화면 상단으로 올린 후 옵션보기 click > 주석 작성 click 후 
                        펜, 텍스트, 스탬프 등 다양한 기능으로 주석 달기 가능. </p>
                        <p><img src = "https://user-images.githubusercontent.com/88205708/129403284-6d3eab3f-73b0-4d22-a222-1a3adf557d9d.png", width="400",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>