<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>Zoom 클라이언트 다운받기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='2.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>3/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='4.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        Zoom 클라이언트 다운로드
                    </h2>
                    <p>Zoom을 본격적으로 사용하기 위해서는 Zoom 클라이언트 다운로드 및 설치가 필요합니다.</p>
                    <p>
                        1) 리소스 > Zoom 클라이언트 다운로드 click</br>
                        *휴대폰, ipad, 갤럭시pad 등의 기기 사용시 App Store에서 Zoom app을 다운로드 받는다.</br>
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129214660-3eb277c3-736c-4b22-a6fb-296c05a70d9f.png"
                                , width="300" ,height="300">&nbsp
                            <img src="https://user-images.githubusercontent.com/88205708/129214670-4f03617d-fff9-4181-b938-44dd85fba505.png"
                                , width="300" ,height="300">
                        </p>
                    </div>
                    <p>2) 다운로드 완료 후 파일을 열어 클라이언트 실행한 후 로그인하기.</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129217150-3cb764af-6492-4ffe-9e56-a743342f38cc.png"
                                , width="300" ,height="200">&nbsp
                            <img src="https://user-images.githubusercontent.com/88205708/129217166-0ed2b324-2ac4-4928-abc3-8fae7d7ba38a.png"
                                , width="300" ,height="200">
                        </p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge3_18">
                        17%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>