<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='30.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>10/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='32.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p>**채팅창 활용하기!!</p>    
                    <p>1) 퀴즈 진행: 무언가 선착순으로 정답을 말해야 하는 경우, mic를 여러 사람이 사용하면 앞서 말했듯이 하울링 등의 소음이 발생할 수 있습니다.
                        따라서 그러한 경우, 정답을 채팅창으로 선착순으로 입력하라는 방식으로 퀴즈를 진행할 수 있습니다. 혹은 채팅창을 통해 발언권을 얻은 사람만 mic를 켜고 정답을 외치도록 할 수도 있습니다.</p>
                    <p>2) Q&A 진행: 퀴즈 진행과 마찬가지로 발언권을 채팅창을 통해 선착순으로 받은 뒤 지목을 하여 질문을 받을 수 있고,
                        혹은 질문 자체를 채팅창으로 받을 수 있습니다.</p>
                    <p>3) 간단한 공지 전달</p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>