<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='32.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>11/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='34.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p> 수동할당을 예를 들어보겠습니다.</p>
                    <p>&nbsp 3) 각 회의실에 할당을 click하여 넣고 싶은 참석자 check. 
                        모든 참석자들의 배정이 끝났으면 모든 회의실 열기 click. 
                        그러면 참석자들의 화면에 소회의실 참가 팝업창이 뜨게됨. 해당 팝업창에서 참가를 click하면 호스트가 지정한 소회의실로 이동 완료.</p>
                        <p><img src = "https://user-images.githubusercontent.com/88205708/129407058-6df90a31-c4f7-4d0a-9e25-c846de89aa51.png", width="400",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>