<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>시작하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='35.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>12/12</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='37.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <p>12. 단체사진 찍기! 행사에서 빠질 수 없는것이 바로 단체사진입니다. 온라인 상으로도 충분히 단체사진을 찍을 수 있는데요, 방법은 다음과 같습니다.</p>
                    <p>&nbsp 1) 화면 보기 방식을 갤러리로 전환한 뒤, 한 눈에 보이는 참석자 최대수를 현재 참석자 최대수 이상으로 설정해둡니다.</p>
                    <p>&nbsp 2) 참석자들로 하여금 특정 포즈 혹은 종이나 휴대폰 화면에다가 특정 문구를 써서 화면에 보이게 한 뒤 호스트가 갤러리 보기로 전환되어있는 화면을 캡쳐합니다. </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>