<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>요금제 업그레이드 하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='3.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>4/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='5.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        요금제 업그레이드
                    </h2>
                    <p>Zoom은 3인 이상이서 40분 이상 회의 진행 시 유료 요금제가 필수입니다. 따라서 행사에 맞는 요금제로 업그레이드하는 과정이 필요합니다.</p>
                    <p>1) 요금제 및 가격 책정 click</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129220480-0504a360-2fdf-4ede-aeba-0749c4c42203.png"
                                , width="400" ,height="300"></p>
                    </div>
                    <p>2) 요금제의 상세 정보를 꼼꼼하게 읽어본 뒤, 행사에 맞는 요금제 선택.(추가 옵션 선택 가능)</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129220490-7768a8d7-d8a0-4c9c-a4c9-efa474f3213d.png"
                                , width="400" ,height="300"></p>
                    </div>
                    <hr>
                    <h4>
                        소규모 팀에 적합한 프로로 업그레이드를 예시
                    </h4>
                    <p>
                        3) 주황색 프로로 업그레이드 click</br>
                        4) 회의 라이선스 개수 선택, 요금제 선택, 월간/연간 선택, 추가옵션 선택(필수X) 후 저장하고 계속 click</br>
                    </p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129225458-e911d56f-8d1b-4b39-9347-0e7b7c1ab46f.png"
                                , width="400" ,height="300"></p>
                    </div>
                    <p>5) 이후 뜨는 팝업창에 대해 해당사항이 아닌 경우 아니요. 괜찮습니다 click, 이 단계 건너뛰기 click.</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129226586-c7e4c3ec-0af7-4891-a95f-27d33ff53a08.png"
                                , width="600" ,height="500"></p>
                    </div>
                    <p>6) 청구 연락처, 구매자 연락처, 결제 방법 작성 후 저장하고 계속 click.</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129244695-04ad9f6f-d7ff-413e-8418-e82d0b9b7ff8.png"
                                , width="400" ,height="300"></p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge4_18">
                        22%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>