<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="./0.html">친목도모형</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">설명회</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">참여형</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>요금제 업그레이드 하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='4.html';">
                        <p>&#60; Previous</p>
                    </div>
                    <div class="barItem">
                        <p>5/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='6.html';">
                        <p>Next &#62;</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        업그레이드 완료
                    </h4>
                    <p>이제 요금제 업그레이드가 완료되었습니다! 청구 확인 및 변경은 내 계정> 청구에서 확인할 수 있습니다.</p>
                    <div class="imageCenter">
                        <p><img src="https://user-images.githubusercontent.com/88205708/129245184-d104be4b-1e01-469c-935b-84dd74d0f613.png"
                                , width="200" ,height="90"></p>
                        <p><img src="https://user-images.githubusercontent.com/88205708/129245269-e5bc7e45-76d4-4443-9e76-5808539e4a69.png"
                                , width="400" ,height="300"></p>
                    </div>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar">
                    <div class="gauge5_18">
                        28%
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>