<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 예약하기</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='5.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>6/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='7.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        회의실 예약하기
                    </h2>
                    <p>
                        이제 행사 당일날 실제로 사용할 회의실을 미리 예약해보겠습니다.</br>
                        *이때 예약을 해놓는데는 여러가지 이유가 있지만, 미리 회의실의 각종 설정을 해놓고, 회의실 링크를 얻어 참석자들에게 사전에 배포하기 위함이 있습니다.</br>
                    </p>
                    <p>1) 앞서 설치한 Zoom 클라이언트로 이동 후 예약 click. (이제 이 뒤로는 Zoom 클라이언트에서만 진행하겠습니다.)</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129246587-a89abae6-eebf-4f20-b5b3-4e9822fa7bf3.png", width="400",height="300"></p>
                    <p>2) 회의 상세 사항 설정 후 저장 click</p>
                    <p>
                        &nbsp <img src = "https://user-images.githubusercontent.com/88205708/129246777-88cc471d-863c-4fcf-858d-3ea21d591f3c.png", width="300",height="200">
                        &nbsp<img src = "https://user-images.githubusercontent.com/88205708/129246822-aab704e8-eace-4389-a46e-9ce00801ed75.png", width="300",height="300">
                    </p>
                    <hr>
                    <h4>예약 완료</h4>
                    <p>3) 예약된 회의 확인 및 수정을 하기 위해서는 회의 click</p>
                    <p>
                        <img src = "https://user-images.githubusercontent.com/88205708/129247305-da8049b5-a4c8-4562-81c3-3f4ccc01cc0d.png", width="300",height="250">
                        &nbsp<img src = "https://user-images.githubusercontent.com/88205708/129247319-6d51bcaf-e5c7-4bb5-8501-fba464ce3f3c.png", width="300",height="250">
                    </p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
