<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='7.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>8/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='9.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h2>
                        회의실 환경 설정
                    </h2>
                    <p>
                        행사의 원활한 진행을 위해 회의 시작 전 혹은 도중에 회의의 다양한 환경을 설정할 수 있습니다. 그 중 대기실, 비디오, 마이크, 화면 환경 설정 방법에 대해 소개해드리겠습니다. 
                    </p>
                    <hr>
                    <p>우선, 기본 환경 설정 방법에는 두가지가 있습니다.</p>
                    <p>1) Home > 톱니바퀴 click, 2) 회의실 하단 혹은 상단 메뉴들 click</p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129251454-2371295f-2a3b-4f26-bd0d-e9c8436e02cf.png", width="300",height="300">&nbsp<img src = "https://user-images.githubusercontent.com/88205708/129251455-f5578abe-11d1-4c49-bb9f-7e9cc802bf94.png", width="300",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
