<!DOCTYPE html>
<html>

<head>
    <title>Zoom</title>

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>
    <div class="background"></div>
    <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Online Event Guideline</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../home.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="0.html">Zoom</a>
                    </li>
                    <li>
                        <a href="../youtube/0.html">Youtube</a>
                    </li>
                    <li>
                        <a href="../googlemeets/0.html">Google Meets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='hCenter'>
        <div class="container loginCard vCenter hCenter">
            <div class="main">
                <div class="subtitle">
                    <p>회의실 환경 설정</p>
                </div>
                <div class="moveBar">
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='8.html';">
                        <p>before</p>
                    </div>
                    <div class="barItem">
                        <p>9/18</p>
                    </div>
                    <div class="barItem" style="cursor:pointer;" onclick="location.href='10.html';">
                        <p>after</p>
                    </div>
                </div>
                <div class="mainText">
                    <h4>
                        대기실 설정하기
                    </h4>
                    <p>
                        회의 예약 당시 대기실 사용에 체크를 하였다면 참석자들은 회의 참가를 click해도 회의에 바로 들어오지 못하고 대기실에 가게 됩니다. 
                        그러면 회의의 호스트가 수락 혹은 제가 하여 참석 여부를 선택할 수 있습니다. </br>
                        또한 대기실 사용은 보안> 대기실 사용을 통해 회의 전후에도 언제든지 변경 가능합니다.
                    </p>
                    <p><img src = "https://user-images.githubusercontent.com/88205708/129252318-d9e46e8e-583d-4210-ba21-aac52a493c91.png", width="300",height="300">&nbsp<img src = "https://user-images.githubusercontent.com/88205708/129252267-36912107-8ff4-4e1f-be7c-c3f4dbb9747e.png", width="300",height="300"></p>
                </div>
            </div>
            <div class="buttonPlace hCenter">
                <div class="button" style="cursor:pointer;" onclick="location.href='#';">
                    <p class="buttonText hCenter">Next</p>
                </div>
            </div>
            <div class="persentage hCenter vCenter">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</body>

</html>
